header {
    padding: 20px 20px;
    background-color: grey;
    background-image: url(../assets/img/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: poppins, sans-serif;
}