header {
    padding: 20px 20px;
    background-color: grey;
    background-image: url(../assets/img/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: poppins, sans-serif;
}

header h1 {
    color: white;
    width: 700px;
    font-size: 50px;
}

.contenedor-sections {
    background-color: white;
}

.contenedor-detalles {
    width: 50%;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.casaDelSuenio {
    padding: 20px 20px;
    align-content: center;
    background-image: url(../assets/img/encuentra.jpg);
    height: 50vh;
}

.casaDelSuenio h2 {
    color: white;
}

.casaDelSuenio p {
    color: white;
}

.comenTarjeta {
    display: flex;
}