:root {
    --primary-color: #3518b3;
    --secondary-color:#e0d7bc;
    --thirteen-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    background: var(--thirteen-color);
}

header {
    padding: 20px 20px;
    background-color: grey;
    background-image: url(../assets/img/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

@media(max-width:760px) {
    header {
        background-image: none;
        background: green;
    }
}

.barra {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul {
    text-decoration: none;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

header nav ul li a {
    color: var(--thirteen-color);
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}

header h1 {
    color: var(--thirteen-color);
    width: 700px;
    font-size: 50px;
}

.subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background: white;
    border: #bebebe solid 2px;
    box-shadow: 0 4px 8px;
}

.house-articles {
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;

    gap: 0.5rem;
}

.house-article {
    width: 400px;
}

.house-article .card-img img {
    width: 100%;
    height: auto;

    opacity: 0.75;
    transform: opacity 2s;
}
.card-body {
    padding: 0.5rem;

    flex-direction: column;

    gap: 1rem;
}

.house-article .card-icon img{
    width: 50%;
    height: auto;
    gap: 1rem;
}

footer nav ul {
    text-decoration: none;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: left;
}

footer {
    background-color: grey;
}

footer nav ul li a {
    color: var(--thirteen-color);
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}

footer p {
    color: var(--thirteen-color);
    display: flex;
    flex-direction: row;
    justify-content: right;
}